<!doctype html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Collect words</title>
  <link rel="stylesheet" type="text/css" href="bundle.css">
</head>

<body>
  <h1>Collect words</h1>  
  <div id="app">
    <input type="text" placeholder="Write word" v-model="inputText">
    <button v-on:click="saveWords">Save</button>
    <button v-on:click="showWords">Show</button>
    <button v-on:click="clearWords">Clear</button>
    <span>{{ response }}</span>
    <div v-if="show">{{ words }}</div>
  </div>
  
    
  <script src="bundle.js"></script>
</body>
</html>
